include ../../pug/vars

.solutions.section.lines.bg-blue
	.case
		.solutions__wrap
			.solutions__list
				.solutions__item
					.solutions__title.h2 Система электронного документооборота
					.solutions__text
						p У нас многолетний опыт разработки приложений и сложных систем электронной коммерции, комплексных ИТ-решений для бизнеса и государства. Мы не просто выполняем проекты, а развиваем и поддерживаем созданные решения
					.solutions__btns.row
						a.intro__button.button.--md.--bg-white(href="sed.html") Подробнее
						a.intro__button.button.--md.--bg-transparent(href="solutions.html") решения
					.solutions__icon
						picture
							img(src="upload/docs.svg" alt="")

				.solutions__item
					.solutions__title.h2 Cистема мониторинга транспорта
					.solutions__text
						p У нас многолетний опыт разработки приложений и сложных систем электронной коммерции, комплексных ИТ-решений для бизнеса и государства. Мы не просто выполняем проекты, а развиваем и поддерживаем созданные решения
					.solutions__btns.row
						a.intro__button.button.--md.--bg-white(href="transport.html") Подробнее
						a.intro__button.button.--md.--bg-transparent(href="solutions.html") решения
					.solutions__icon
						picture
							img(src="upload/map.svg" alt="")

				.solutions__item
					.solutions__title.h2 Такси
					.solutions__text
						p У нас многолетний опыт разработки приложений и сложных систем электронной коммерции, комплексных ИТ-решений для бизнеса и государства. Мы не просто выполняем проекты, а развиваем и поддерживаем созданные решения
					.solutions__btns.row
						a.intro__button.button.--md.--bg-white(href="taxi.html") Подробнее
						a.intro__button.button.--md.--bg-transparent(href="solutions.html") решения
					.solutions__icon
						picture
							img(src="upload/taxi.svg" alt="")

				.solutions__item
					.solutions__title.h2 Активный гражданин
					.solutions__text
						p У нас многолетний опыт разработки приложений и сложных систем электронной коммерции, комплексных ИТ-решений для бизнеса и государства. Мы не просто выполняем проекты, а развиваем и поддерживаем созданные решения
					.solutions__btns.row
						a.intro__button.button.--md.--bg-white(href="citizen.html") Подробнее
						a.intro__button.button.--md.--bg-transparent(href="solutions.html") решения
					.solutions__icon
						picture
							img(src="upload/app-hand.svg" alt="")

				.solutions__item
					.solutions__title.h2 ГБО
					.solutions__text
						p У нас многолетний опыт разработки приложений и сложных систем электронной коммерции, комплексных ИТ-решений для бизнеса и государства. Мы не просто выполняем проекты, а развиваем и поддерживаем созданные решения
					.solutions__btns.row
						a.intro__button.button.--md.--bg-white(href="gbo.html") Подробнее
						a.intro__button.button.--md.--bg-transparent(href="solutions.html") решения
					.solutions__icon
						picture
							img(src="upload/docs.svg" alt="")

				.solutions__item
					.solutions__title.h2 ДРСУ
					.solutions__text
						p У нас многолетний опыт разработки приложений и сложных систем электронной коммерции, комплексных ИТ-решений для бизнеса и государства. Мы не просто выполняем проекты, а развиваем и поддерживаем созданные решения
					.solutions__btns.row
						a.intro__button.button.--md.--bg-white(href="monitoring.html") Подробнее
						a.intro__button.button.--md.--bg-transparent(href="solutions.html") решения
					.solutions__icon
						picture
							img(src="upload/docs-pack.svg" alt="")

		.solutions__timeline.stl
			.stl__list
				.stl__item
					.stl__counter 1
					.stl__box
					.stl__title СЭД
				.stl__item
					.stl__counter 2
					.stl__box
					.stl__title Мониторинг транспорта
				.stl__item
					.stl__counter 3
					.stl__box
					.stl__title Такси
				.stl__item
					.stl__counter 4
					.stl__box
					.stl__title Активный гражданин
				.stl__item
					.stl__counter 5
					.stl__box
					.stl__title ГБО
				.stl__item
					.stl__counter 6
					.stl__box
					.stl__title ДРСУ