include ../../pug/vars

.solutions.section.lines.bg-blue.c-white#solutions
	.section__inner
		.case
			.solutions__inner
				.solutions__wrap.swiper-container
					.solutions__list.swiper-wrapper
						.solutions__item.swiper-slide
							.solutions__content
								.solutions__title.h2 Система электронного документооборота
								.solutions__text
									p У нас многолетний опыт разработки приложений и сложных систем электронной коммерции, комплексных ИТ-решений для бизнеса и государства. Мы не просто выполняем проекты, а развиваем и поддерживаем созданные решения
								.solutions__btns.row
									a.solutions__button.button.--md.--bg-white.--b-white(href="sed.html") Подробнее
									a.solutions__button.button.--md.--b-white(href="solutions.html") Все решения
							.solutions__icon
								picture
									img(src="uploads/docs.svg" alt="")

						.solutions__item.swiper-slide
							.solutions__content
								.solutions__title.h2 Cистема мониторинга транспорта
								.solutions__text
									p У нас многолетний опыт разработки приложений и сложных систем электронной коммерции, комплексных ИТ-решений для бизнеса и государства. Мы не просто выполняем проекты, а развиваем и поддерживаем созданные решения
								.solutions__btns.row
									a.solutions__button.button.--md.--bg-white.--b-white(href="transport.html") Подробнее
									a.solutions__button.button.--md.--b-white(href="solutions.html") Все решения
							.solutions__icon
								picture
									img(src="uploads/map.svg" alt="")

						.solutions__item.swiper-slide
							.solutions__content
								.solutions__title.h2 Такси
								.solutions__text
									p У нас многолетний опыт разработки приложений и сложных систем электронной коммерции, комплексных ИТ-решений для бизнеса и государства. Мы не просто выполняем проекты, а развиваем и поддерживаем созданные решения
								.solutions__btns.row
									a.solutions__button.button.--md.--bg-white.--b-white(href="taxi.html") Подробнее
									a.solutions__button.button.--md.--b-white(href="solutions.html") Все решения
							.solutions__icon
								picture
									img(src="uploads/taxi.svg" alt="")

						.solutions__item.swiper-slide
							.solutions__content
								.solutions__title.h2 Активный гражданин
								.solutions__text
									p У нас многолетний опыт разработки приложений и сложных систем электронной коммерции, комплексных ИТ-решений для бизнеса и государства. Мы не просто выполняем проекты, а развиваем и поддерживаем созданные решения
								.solutions__btns.row
									a.solutions__button.button.--md.--bg-white.--b-white(href="citizen.html") Подробнее
									a.solutions__button.button.--md.--b-white(href="solutions.html") Все решения
							.solutions__icon
								picture
									img(src="uploads/app-hand.svg" alt="")

						.solutions__item.swiper-slide
							.solutions__content
								.solutions__title.h2 ГБО
								.solutions__text
									p У нас многолетний опыт разработки приложений и сложных систем электронной коммерции, комплексных ИТ-решений для бизнеса и государства. Мы не просто выполняем проекты, а развиваем и поддерживаем созданные решения
								.solutions__btns.row
									a.solutions__button.button.--md.--bg-white.--b-white(href="gbo.html") Подробнее
									a.solutions__button.button.--md.--b-white(href="solutions.html") Все решения
							.solutions__icon
								picture
									img(src="uploads/docs.svg" alt="")

						.solutions__item.swiper-slide
							.solutions__content
								.solutions__title.h2 ДРСУ
								.solutions__text
									p У нас многолетний опыт разработки приложений и сложных систем электронной коммерции, комплексных ИТ-решений для бизнеса и государства. Мы не просто выполняем проекты, а развиваем и поддерживаем созданные решения
								.solutions__btns.row
									a.solutions__button.button.--md.--bg-white.--b-white(href="monitoring.html") Подробнее
									a.solutions__button.button.--md.--b-white(href="solutions.html") Все решения
							.solutions__icon
								picture
									img(src="uploads/docs-pack.svg" alt="")

				.solutions__timeline.stl.swiper-container
					.stl__list.swiper-wrapper
						.stl__item.swiper-slide
							.stl__counter 01
							.stl__box
							.stl__title СЭД
						.stl__item.swiper-slide
							.stl__counter 02
							.stl__box
							.stl__title Мониторинг транспорта
						.stl__item.swiper-slide
							.stl__counter 03
							.stl__box
							.stl__title Такси
						.stl__item.swiper-slide
							.stl__counter 04
							.stl__box
							.stl__title Активный гражданин
						.stl__item.swiper-slide
							.stl__counter 05
							.stl__box
							.stl__title ГБО
						.stl__item.swiper-slide
							.stl__counter 06
							.stl__box
							.stl__title ДРСУ
	//- .section__pluses.pluses
	//- 	picture
	//- 		img(src="uploads/pluses.svg" alt="")
	+style('solutions', 'blocks')
	+script('solutions', 'blocks')