extends ../../templates/default
block vars
	-
		title = ""
		breadcrumbs = [
			['Главная', 'index.html'],
			[title]
		]
block content
	.intro.section.lines.bgw
		.case
			.intro__content
				.intro__title.h1 8-800-234-25-42
				.intro__btns.row
					a.intro__button.button.--md.--bg-blue(href="") Связаться с нами
					a.intro__button.button.--md.--bg-transparent(href="" target="_blank") На карте
				.intro__contacts
					.intro__address 350010, г. Краснодар, #[br]ул. Зиповская, 5
					.intro__reqs #[a(href="") Скачать реквизиты ООО «КИХ-Юг»]

		.intro__bg.bg
			picture
				img(src="upload/contacts-bg.jpg" alt="")