.check {
  display: inline-flex;
  cursor: pointer;
}
.check__input {
  display: none;
}
.check__box {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  transition: 0.3s;
}
.check__box svg {
  width: 100%;
  transition: 0.3s;
  transform: scale(0);
}
.check.--block {
  display: flex;
}
.check.--b-black .check__box {
  border: 2px solid #1A1B1F;
}
.check.--bg-gray .check__box {
  background-color: #F2F4F5;
}
.check.--bg-gray.--checked .check__box {
  background-color: #fff;
}
.check.--md .check__box {
  min-width: 20px;
  width: 32px;
  height: 32px;
  padding: 5px;
}
.check.--md .check__wrap {
  width: calc(100% - 20px);
  padding-left: 16px;
  padding-top: 6px;
  font-size: 14px;
  line-height: 20px;
}
.check.--md .check__wrap a {
  padding: 3px;
  white-space: nowrap;
  position: relative;
  z-index: 1;
}
.check.--md .check__wrap a:before {
  z-index: -1;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  transition: 0.3s;
  background-color: #DEEFFF;
}
.check.--md .check__wrap a:hover:before {
  height: 2px;
}
.check.--checkbox .check__box {
  border-radius: 5px;
}
.check.--radio .check__box {
  border-radius: 50%;
}
.check.--radio .check__box:before {
  border-radius: 50%;
}
.check.--toggle .check__box {
  width: 40px;
}
.check.--toggle .check__box:before {
  opacity: 0.4;
  width: 12px;
  transform: none;
  margin-left: 12px;
}
.check.--toggle.--checked .check__box:before {
  opacity: 1;
  margin-left: -12px;
}
.check.--checked .check__box svg {
  transform: scale(1);
}