.advantages {
  padding-top: 130px;
  width: 100%;
  max-width: 1150px;
  margin-left: auto;
  margin-right: auto;
}
.advantages.--pt {
  padding-top: 210px;
}
.advantages.--pt .advantages__pluses {
  top: -140px;
}
.advantages .case {
  position: relative;
}
.advantages__pluses {
  top: -300px;
  right: 0;
  margin-right: -145px;
}
.advantages__title {
  text-align: center;
  position: absolute;
  top: 308px;
  left: 50%;
  transform: translateX(-50%);
}
.advantages__list {
  position: relative;
}
.advantages__list:before {
  z-index: -1;
  content: "";
  position: absolute;
  top: 37px;
  left: 50%;
  width: 946px;
  height: 473px;
  transform: translateX(-50%);
  background: url("../../imgs/round.svg") no-repeat center;
}
.advantages__item {
  width: 206px;
  height: 206px;
  border-radius: 50%;
  background-color: #fff;
  margin-right: 40px;
  padding: 19px;
}
.advantages__item:nth-of-type(1), .advantages__item:nth-of-type(4) {
  margin-top: 306px;
  padding-top: 35px;
}
.advantages__item:nth-of-type(3) {
  margin-left: auto;
}
.advantages__item:last-of-type {
  margin-right: 0;
}
.advantages__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 72px;
  height: 72px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 12px;
}
.advantages__name {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
}

@media screen and (max-width: 1500px) {
  .advantages {
    max-width: 630px;
    position: relative;
    left: 30px;
  }
  .advantages__list {
    justify-content: center;
    margin-bottom: -30px;
  }
  .advantages__list:before {
    top: -200px;
  }
  .advantages__title {
    position: static;
    transform: none;
    margin-bottom: 55px;
  }
  .advantages__item {
    margin-right: 0;
    margin-top: 0;
    padding: 0 10px;
    height: auto;
    margin-bottom: 30px;
  }
  .advantages__item:nth-of-type(1), .advantages__item:nth-of-type(4) {
    margin-top: 0;
    padding-top: 0;
  }
  .advantages__item:nth-of-type(2), .advantages__item:nth-of-type(3) {
    padding-top: 0;
  }
  .advantages__pluses {
    opacity: 0;
    visibility: hidden;
  }
}
@media screen and (max-width: 1023px) {
  .advantages {
    left: 0;
    padding-top: 110px;
  }
}
@media screen and (max-width: 767px) {
  .advantages {
    padding-top: 95px;
  }
  .advantages__title {
    margin-bottom: 30px;
  }
  .advantages__list {
    position: static;
  }
  .advantages__list:before {
    width: 311px;
    height: 171px;
    top: -54px;
    background-size: cover;
  }
  .advantages__item {
    width: calc(100% / 2);
  }
  .advantages__icon {
    margin-bottom: 6px;
  }
  .advantages__name {
    font-size: 16px;
    line-height: 21px;
  }
}