extends ../../templates/default
block vars
	-
		title = "ГБО"
		breadcrumbs = [
			['Главная', 'index.html'],
			[title]
		]
		sidenav = true
block content
	.intro.section.lines.bg-blue-l#intro
		.section__inner
			.case
				.intro__content
					.intro__text Система учёта субсидирования газобаллонного оборудования
					.intro__title.h1 #[span #[u #[i ГБО]]]
					.intro__btns.row
						a.intro__button.button.--lg.--bg-white(href="") Попробовать бесплатно
						a.intro__button.button.--lg.--b-white(href="" target="_blank") Купить
			.intro__icon
				picture
					img(src="uploads/docs.svg" alt="")

	.section.overflow-y.has-nav.solution-body#solution-body
		.section__inner
			.case
				.nav-item#solution
					-
						solutionTitle = 'Система предназначена для решения прикладных задач по формированию и ведению реестра лиц, выполняющих переоборудование транспортных средств на использование природного газа (метана) в качестве моторного топлива, претендующих на получение субсидии.'
						solutionText  = 'Решение способствует повышению уровня доступности услуги получения субсидий юридическими лицами и индивидуальными предпринимателями, выполняющими работы по переоборудованию транспортных, в целях возмещения недополученных доходов в связи с предоставлением такими лицами скидки владельцам транспортных средств.'
						solutionReestr = false
						
					include ../../../blocks/solution/solution

					-
						advantages = [
							['Повышайте эффективность', 'comp-user-chating.svg'],
							['Обеспечивайте информационную открытость', 'info-click.svg'],
							['Автоматизируйте процессы', 'web-settings.svg'],
							['Экономьте время', 'clock-hand.svg'],
						]
					include ../../../blocks/advantages/advantages

				-
					whom = [
						['Подача заявления', 'comp-tag.svg', '<ul><li>Заявитель посредством личного кабинета подает заявку на получение субсидии</li><li>Прикрепляются скан-копии первичных документов</li></ul>'],
						['Рассмотрение заявки', 'docs-glasses.svg', '<ul><li>Ответственный сотрудник проверяет заявление и приложенные документы на соответствие требованиям к комплектации пакета документов</li><li>Проверяет поданную заявителем информацию через внешние системы проверок: ФНС, ФИАС, ГИБДД</li></ul>'],
						['Формирование приказа', 'doc-signature.svg', '<ul><li>Приказ формируется автоматически на основании ранее внесенных данных</li><li>Приказ печатается на бланке утвержденной формы для последующего согласования руководителя </li><li>После утверждения приказа данные попадают в другие справочники Системы</li></ul>'],
						['Выдача субсидии', 'web-pay.svg', '<ul><li>Посредством личного кабинета осуществляется информирование заявителя об утверждении приказа на выдачу субсидии с указанием доступной суммы, либо отказе в предоставлении субсидии с указанием нарушений или замечаний в случае отклонения заявки.</li></ul>']
					]
				include ../../../blocks/whom/whom

	include ../../../blocks/philosophy/philosophy

	.section.overflow-y.has-nav.solution-foot#solution-foot
		.section__inner
			.case
				include ../../../blocks/reviews/reviews
				
				include ../../../blocks/faq/faq

				include ../../../blocks/feedback/feedback
			
	include ../../../blocks/footer/footer