include ../../pug/vars

.certificates
	.case
		.certificates__desc Сертификаты
		.certificates__head
			.certificates__title.h2 Тело синхронно. Не только в вакууме, но и в любой нейтральной среде относительно низкой плотности
			.certificates__controls
				.certificates__control.control.button.--prev
					<svg width="14" height="25" viewBox="0 0 14 25" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13 1L1.5 12.5L13 24" stroke="#1E468A"/></svg>
				.certificates__control.control.button.--next
					<svg width="14" height="25" viewBox="0 0 14 25" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13 1L1.5 12.5L13 24" stroke="#1E468A"/></svg>
		.certificates__wrap
			.certificates__list
				.certificates__item(data-src="upload/certificate-1.jpg" data-popup="")
					picture
						img(src="upload/certificate-1.jpg" alt="")
				.certificates__item(data-src="upload/certificate-2.jpg" data-popup="")
					picture
						img(src="upload/certificate-2.jpg" alt="")
				.certificates__item(data-src="upload/certificate-3.jpg" data-popup="")
					picture
						img(src="upload/certificate-3.jpg" alt="")
				.certificates__item(data-src="upload/certificate-1.jpg" data-popup="")
					picture
						img(src="upload/certificate-1.jpg" alt="")
				.certificates__item(data-src="upload/certificate-2.jpg" data-popup="")
					picture
						img(src="upload/certificate-2.jpg" alt="")
				.certificates__item(data-src="upload/certificate-3.jpg" data-popup="")
					picture
						img(src="upload/certificate-3.jpg" alt="")