include ../../pug/vars

.reviews.nav-item#reviews
	.case
		.reviews__head.row
			.reviews__title.h3 Отзывы клиентов
			.reviews__controls.controls
				.reviews__control.button.control.--prev
					<svg width="14" height="25" viewBox="0 0 14 25" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13 1L1.5 12.5L13 24" stroke="#1E468A"/></svg>
				.reviews__control.button.control.--next
					<svg width="14" height="25" viewBox="0 0 14 25" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13 1L1.5 12.5L13 24" stroke="#1E468A"/></svg>
		.reviews__body
			.reviews__wrap.swiper-container
				.reviews__list.swiper-wrapper
					.reviews__item.swiper-slide
						.reviews__quote.h3.--light У электронного документооборота #[br]«СИНКОПА-ДОКУМЕНТ» целый ряд неоспоримых преимуществ:
						.reviews__text.t1
							p экономия времени (оперативность доведения документа до исполнителя, сотрудники тратят меньше времени на поиск бумажных документов), создание резервных копий файлов (исключается возможность того, что документ будет безвозвратно потерян), повышение прозрачности внутренней работы организации (СЭД позволяет руководителям наблюдать за статусом документа на протяжении всех этапов его согласования и утверждения, что позволяет контролировать работу своих подчиненных, также СЭД дает полный отчет о том, кто создал файл, имел к нему доступ и редактировал), гибкость в отношении физического местонахождения (благодаря возможностям электронного доступа и коммуникаций сотрудники получают возможность работать удаленно), снижение затрат на распечатку и рассылку бумажных документов
						.reviews__author.r-author
							.r-author__logo
								picture
									img(src="uploads/kavkaz-gos-zapovidnik.png" alt="")
							.r-author__text
								.r-author__name Кавказский государственный природный биосферный заповедник имени Х.Г. Шапошникова
								.r-author__desc Краснодарский край
					.reviews__item.swiper-slide
						.reviews__quote.h3.--light У электронного документооборота #[br]«СИНКОПА-ДОКУМЕНТ» целый ряд неоспоримых преимуществ:
						.reviews__text.t1
							p экономия времени (оперативность доведения документа до исполнителя, сотрудники тратят меньше времени на поиск бумажных документов), создание резервных копий файлов (исключается возможность того, что документ будет безвозвратно потерян), повышение прозрачности внутренней работы организации (СЭД позволяет руководителям наблюдать за статусом документа на протяжении всех этапов его согласования и утверждения, что позволяет контролировать работу своих подчиненных, также СЭД дает полный отчет о том, кто создал файл, имел к нему доступ и редактировал), гибкость в отношении физического местонахождения (благодаря возможностям электронного доступа и коммуникаций сотрудники получают возможность работать удаленно), снижение затрат на распечатку и рассылку бумажных документов
						.reviews__author.r-author
							.r-author__logo
								picture
									img(src="uploads/kavkaz-gos-zapovidnik.png" alt="")
							.r-author__text
								.r-author__name Кавказский государственный природный биосферный заповедник имени Х.Г. Шапошникова
								.r-author__desc Краснодарский край
	+style('reviews', 'blocks')
	+script('reviews', 'blocks')