include ../../pug/vars

.philosophy.section.bgw.c-white#philosophy
	.section__inner
		.case
			.philosophy__inner
				.philosophy__desc.h6 Философия и миссия
				.philosophy__title.h2 Тело синхронно. Не только в вакууме, но и в любой нейтральной среде относительно низкой плотности силовое поле
				.philosophy__list.grid
					.philosophy__item.phi.lines(data-lines-size="sm")
						.phi__box #[span]#[span]#[span]#[span]
						.phi__content
							.phi__name.h4 Относимся честно
							.phi__desc.t1 Компания к сотрудникам, сотрудники к компании, компания к партнерам
						.phi__text.t1
							ul
								li Подача личных (непубликуемых) обращений
								li Регистрация обращений и отправка на рассмотрение
								li Принятие в работу
								li Контроль хода рассмотрения обращения
								li Система уведомлений и напоминаний
					.philosophy__item.phi.lines(data-lines-size="sm")
						.phi__box #[span]#[span]#[span]#[span]
						.phi__content
							.phi__name.h4 Слушаем, слышим и действуем
							.phi__desc.t1 Компания к сотрудникам, сотрудники к компании, компания к партнерам
						.phi__text.t1
							ul
								li Подача личных (непубликуемых) обращений
								li Регистрация обращений и отправка на рассмотрение
								li Принятие в работу
								li Контроль хода рассмотрения обращения
								li Система уведомлений и напоминаний
					.philosophy__item.phi.lines(data-lines-size="sm")
						.phi__box #[span]#[span]#[span]#[span]
						.phi__content
							.phi__name.h4 Увлекаем и увлекаемся
							.phi__desc.t1 Компания к сотрудникам, сотрудники к компании, компания к партнерам
						.phi__text.t1
							ul
								li Подача личных (непубликуемых) обращений
								li Регистрация обращений и отправка на рассмотрение
								li Принятие в работу
								li Контроль хода рассмотрения обращения
								li Система уведомлений и напоминаний
					.philosophy__item.phi.lines(data-lines-size="sm")
						.phi__box #[span]#[span]#[span]#[span]
						.phi__content
							.phi__name.h4 Приносим пользу
							.phi__desc.t1 Компания к сотрудникам, сотрудники к компании, компания к партнерам
						.phi__text.t1
							ul
								li Подача личных (непубликуемых) обращений
								li Регистрация обращений и отправка на рассмотрение
								li Принятие в работу
								li Контроль хода рассмотрения обращения
								li Система уведомлений и напоминаний
					.philosophy__item.phi.lines(data-lines-size="sm")
						.phi__box #[span]#[span]#[span]#[span]
						.phi__content
							.phi__name.h4 Развиваемся и растем
							.phi__desc.t1 Компания к сотрудникам, сотрудники к компании, компания к партнерам
						.phi__text.t1
							ul
								li Подача личных (непубликуемых) обращений
								li Регистрация обращений и отправка на рассмотрение
								li Принятие в работу
								li Контроль хода рассмотрения обращения
								li Система уведомлений и напоминаний
					.philosophy__item.phi.lines(data-lines-size="sm")
						.phi__box #[span]#[span]#[span]#[span]
						.phi__content
							.phi__name.h4 Зрим в корень
							.phi__desc.t1 Компания к сотрудникам, сотрудники к компании, компания к партнерам
						.phi__text.t1
							ul
								li Подача личных (непубликуемых) обращений
								li Регистрация обращений и отправка на рассмотрение
								li Принятие в работу
								li Контроль хода рассмотрения обращения
								li Система уведомлений и напоминаний
		.philosophy__info.phy-info
			.phy-info__close
			.phy-info__inner
				.phy-info__title.h3
				.phy-info__text.t1

	.philosophy__bg.bg
		picture
			img(src="uploads/philosophy-bg.jpg" alt="")
	+style('philosophy', 'blocks')
	+script('philosophy', 'blocks')