include ../../pug/vars

.philosophy.section.bgw
	.case
		.philosophy__desc Философия и миссия
		.philosophy__title.h2 Тело синхронно. Не только в вакууме, но и в любой нейтральной среде относительно низкой плотности силовое поле
		.philosophy__list.grid
			.philosophy__item.phi.lines
				.phi__box #[span]#[span]#[span]#[span]
				.phi__content
					.phi__name.h3 Относимся честно
					.phi__desc Компания к сотрудникам, сотрудники к компании, компания к партнерам
				.phi__text
					ul
						li Подача личных (непубликуемых) обращений
						li Регистрация обращений и отправка на рассмотрение
						li Принятие в работу
						li Контроль хода рассмотрения обращения
						li Система уведомлений и напоминаний
			.philosophy__item.phi.lines
				.phi__box #[span]#[span]#[span]#[span]
				.phi__content
					.phi__name.h3 Слушаем, слышим и действуем
					.phi__desc Компания к сотрудникам, сотрудники к компании, компания к партнерам
				.phi__text
					ul
						li Подача личных (непубликуемых) обращений
						li Регистрация обращений и отправка на рассмотрение
						li Принятие в работу
						li Контроль хода рассмотрения обращения
						li Система уведомлений и напоминаний
			.philosophy__item.phi.lines
				.phi__box #[span]#[span]#[span]#[span]
				.phi__content
					.phi__name.h3 Увлекаем и увлекаемся
					.phi__desc Компания к сотрудникам, сотрудники к компании, компания к партнерам
				.phi__text
					ul
						li Подача личных (непубликуемых) обращений
						li Регистрация обращений и отправка на рассмотрение
						li Принятие в работу
						li Контроль хода рассмотрения обращения
						li Система уведомлений и напоминаний
			.philosophy__item.phi.lines
				.phi__box #[span]#[span]#[span]#[span]
				.phi__content
					.phi__name.h3 Приносим пользу
					.phi__desc Компания к сотрудникам, сотрудники к компании, компания к партнерам
				.phi__text
					ul
						li Подача личных (непубликуемых) обращений
						li Регистрация обращений и отправка на рассмотрение
						li Принятие в работу
						li Контроль хода рассмотрения обращения
						li Система уведомлений и напоминаний
			.philosophy__item.phi.lines
				.phi__box #[span]#[span]#[span]#[span]
				.phi__content
					.phi__name.h3 Развиваемся и растем
					.phi__desc Компания к сотрудникам, сотрудники к компании, компания к партнерам
				.phi__text
					ul
						li Подача личных (непубликуемых) обращений
						li Регистрация обращений и отправка на рассмотрение
						li Принятие в работу
						li Контроль хода рассмотрения обращения
						li Система уведомлений и напоминаний
			.philosophy__item.phi.lines
				.phi__box #[span]#[span]#[span]#[span]
				.phi__content
					.phi__name.h3 Зрим в корень
					.phi__desc Компания к сотрудникам, сотрудники к компании, компания к партнерам
				.phi__text
					ul
						li Подача личных (непубликуемых) обращений
						li Регистрация обращений и отправка на рассмотрение
						li Принятие в работу
						li Контроль хода рассмотрения обращения
						li Система уведомлений и напоминаний
	.philosophy__bg.bg
		picture
			img(src="upload/philosophy-bg.jpg" alt="")