include ../../pug/vars

.timeline
	.timeline__bgs
		.timeline__color
		.timeline__bg.timebgs
			.timebgs__list
				.timebgs__item.img
					picture
						img(src="upload/timeline-1992.jpg" alt="")
	.timeline__date.timedate
		.timedate__number.--one
		.timedate__number.--two
		.timedate__number.--three
		.timedate__number.--four
			
	.timeline__list
		.timeline__item 1992
		.timeline__item 1993
		.timeline__item 1994
		.timeline__item 1995
		.timeline__item 1996
		.timeline__item 1997
		.timeline__item 1998
		.timeline__item 1999
		.timeline__item 2000
		.timeline__item 2001
		.timeline__item 2002
		.timeline__item 2003
		.timeline__item 2004
		.timeline__item 2005
		.timeline__item 2006
		.timeline__item 2007
		.timeline__item 2008
		.timeline__item 2009
		.timeline__item 2010
		.timeline__item 2011
		.timeline__item 2012
		.timeline__item 2013
		.timeline__item 2014
		.timeline__item 2015
		.timeline__item 2016
		.timeline__item 2017
		.timeline__item 2018
		.timeline__item 2019
		.timeline__item 2020
		.timeline__item 2021

	.timeline__texts
		.timeline__text ОАО «Кубаньэлектросвязь» совместно с Администрацией Краснодарского края с целью построения инфраструктуры «Электронный регион» в крае и является системным интегратором и разработчиком телекоммуникационных сетей регионального уровня и программного обеспечения. 1992
		.timeline__text ОАО «Кубаньэлектросвязь» совместно с Администрацией Краснодарского края с целью построения инфраструктуры «Электронный регион» в крае и является системным интегратором и разработчиком телекоммуникационных сетей регионального уровня и программного обеспечения. 1993
		.timeline__text ОАО «Кубаньэлектросвязь» совместно с Администрацией Краснодарского края с целью построения инфраструктуры «Электронный регион» в крае и является системным интегратором и разработчиком телекоммуникационных сетей регионального уровня и программного обеспечения. 1994
		.timeline__text ОАО «Кубаньэлектросвязь» совместно с Администрацией Краснодарского края с целью построения инфраструктуры «Электронный регион» в крае и является системным интегратором и разработчиком телекоммуникационных сетей регионального уровня и программного обеспечения. 1995
		.timeline__text ОАО «Кубаньэлектросвязь» совместно с Администрацией Краснодарского края с целью построения инфраструктуры «Электронный регион» в крае и является системным интегратором и разработчиком телекоммуникационных сетей регионального уровня и программного обеспечения. 1996
		.timeline__text ОАО «Кубаньэлектросвязь» совместно с Администрацией Краснодарского края с целью построения инфраструктуры «Электронный регион» в крае и является системным интегратором и разработчиком телекоммуникационных сетей регионального уровня и программного обеспечения. 1997
		.timeline__text ОАО «Кубаньэлектросвязь» совместно с Администрацией Краснодарского края с целью построения инфраструктуры «Электронный регион» в крае и является системным интегратором и разработчиком телекоммуникационных сетей регионального уровня и программного обеспечения. 1998
		.timeline__text ОАО «Кубаньэлектросвязь» совместно с Администрацией Краснодарского края с целью построения инфраструктуры «Электронный регион» в крае и является системным интегратором и разработчиком телекоммуникационных сетей регионального уровня и программного обеспечения. 1999
		.timeline__text ОАО «Кубаньэлектросвязь» совместно с Администрацией Краснодарского края с целью построения инфраструктуры «Электронный регион» в крае и является системным интегратором и разработчиком телекоммуникационных сетей регионального уровня и программного обеспечения. 2000
		.timeline__text ОАО «Кубаньэлектросвязь» совместно с Администрацией Краснодарского края с целью построения инфраструктуры «Электронный регион» в крае и является системным интегратором и разработчиком телекоммуникационных сетей регионального уровня и программного обеспечения. 2001
		.timeline__text ОАО «Кубаньэлектросвязь» совместно с Администрацией Краснодарского края с целью построения инфраструктуры «Электронный регион» в крае и является системным интегратором и разработчиком телекоммуникационных сетей регионального уровня и программного обеспечения. 2002
		.timeline__text ОАО «Кубаньэлектросвязь» совместно с Администрацией Краснодарского края с целью построения инфраструктуры «Электронный регион» в крае и является системным интегратором и разработчиком телекоммуникационных сетей регионального уровня и программного обеспечения. 2003
		.timeline__text ОАО «Кубаньэлектросвязь» совместно с Администрацией Краснодарского края с целью построения инфраструктуры «Электронный регион» в крае и является системным интегратором и разработчиком телекоммуникационных сетей регионального уровня и программного обеспечения. 2004
		.timeline__text ОАО «Кубаньэлектросвязь» совместно с Администрацией Краснодарского края с целью построения инфраструктуры «Электронный регион» в крае и является системным интегратором и разработчиком телекоммуникационных сетей регионального уровня и программного обеспечения. 2005
		.timeline__text ОАО «Кубаньэлектросвязь» совместно с Администрацией Краснодарского края с целью построения инфраструктуры «Электронный регион» в крае и является системным интегратором и разработчиком телекоммуникационных сетей регионального уровня и программного обеспечения. 2006
		.timeline__text ОАО «Кубаньэлектросвязь» совместно с Администрацией Краснодарского края с целью построения инфраструктуры «Электронный регион» в крае и является системным интегратором и разработчиком телекоммуникационных сетей регионального уровня и программного обеспечения. 2007
		.timeline__text ОАО «Кубаньэлектросвязь» совместно с Администрацией Краснодарского края с целью построения инфраструктуры «Электронный регион» в крае и является системным интегратором и разработчиком телекоммуникационных сетей регионального уровня и программного обеспечения. 2008
		.timeline__text ОАО «Кубаньэлектросвязь» совместно с Администрацией Краснодарского края с целью построения инфраструктуры «Электронный регион» в крае и является системным интегратором и разработчиком телекоммуникационных сетей регионального уровня и программного обеспечения. 2009
		.timeline__text ОАО «Кубаньэлектросвязь» совместно с Администрацией Краснодарского края с целью построения инфраструктуры «Электронный регион» в крае и является системным интегратором и разработчиком телекоммуникационных сетей регионального уровня и программного обеспечения. 2010
		.timeline__text ОАО «Кубаньэлектросвязь» совместно с Администрацией Краснодарского края с целью построения инфраструктуры «Электронный регион» в крае и является системным интегратором и разработчиком телекоммуникационных сетей регионального уровня и программного обеспечения. 2011
		.timeline__text ОАО «Кубаньэлектросвязь» совместно с Администрацией Краснодарского края с целью построения инфраструктуры «Электронный регион» в крае и является системным интегратором и разработчиком телекоммуникационных сетей регионального уровня и программного обеспечения. 2012
		.timeline__text ОАО «Кубаньэлектросвязь» совместно с Администрацией Краснодарского края с целью построения инфраструктуры «Электронный регион» в крае и является системным интегратором и разработчиком телекоммуникационных сетей регионального уровня и программного обеспечения. 2013
		.timeline__text ОАО «Кубаньэлектросвязь» совместно с Администрацией Краснодарского края с целью построения инфраструктуры «Электронный регион» в крае и является системным интегратором и разработчиком телекоммуникационных сетей регионального уровня и программного обеспечения. 2014
		.timeline__text ОАО «Кубаньэлектросвязь» совместно с Администрацией Краснодарского края с целью построения инфраструктуры «Электронный регион» в крае и является системным интегратором и разработчиком телекоммуникационных сетей регионального уровня и программного обеспечения. 2015
		.timeline__text ОАО «Кубаньэлектросвязь» совместно с Администрацией Краснодарского края с целью построения инфраструктуры «Электронный регион» в крае и является системным интегратором и разработчиком телекоммуникационных сетей регионального уровня и программного обеспечения. 2016
		.timeline__text ОАО «Кубаньэлектросвязь» совместно с Администрацией Краснодарского края с целью построения инфраструктуры «Электронный регион» в крае и является системным интегратором и разработчиком телекоммуникационных сетей регионального уровня и программного обеспечения. 2017
		.timeline__text ОАО «Кубаньэлектросвязь» совместно с Администрацией Краснодарского края с целью построения инфраструктуры «Электронный регион» в крае и является системным интегратором и разработчиком телекоммуникационных сетей регионального уровня и программного обеспечения. 2018
		.timeline__text ОАО «Кубаньэлектросвязь» совместно с Администрацией Краснодарского края с целью построения инфраструктуры «Электронный регион» в крае и является системным интегратором и разработчиком телекоммуникационных сетей регионального уровня и программного обеспечения. 2019
		.timeline__text ОАО «Кубаньэлектросвязь» совместно с Администрацией Краснодарского края с целью построения инфраструктуры «Электронный регион» в крае и является системным интегратором и разработчиком телекоммуникационных сетей регионального уровня и программного обеспечения. 2020
		.timeline__text ОАО «Кубаньэлектросвязь» совместно с Администрацией Краснодарского края с целью построения инфраструктуры «Электронный регион» в крае и является системным интегратором и разработчиком телекоммуникационных сетей регионального уровня и программного обеспечения. 2021

	.timeline__btn-skip.button.--md.--bg-transparent Пропустить
	