include ../../pug/vars

.whom
	.case
		.whom__title.h3 Как это работает
		if whomText
			.whom__text!= whomText
		.whom__list
			mixin whom(whom)
				each item in whom
					.whom__item
						.whom__icon-wrap
							.whom__icon
								picture
									img(src=item[1] alt="")
							.whom__name=item[0]
							.whom__arrow
						.whom__text=item[2]