include ../../pug/vars

.mission.section.bg-white#mission
	.section__inner
		.case
			.mission__wrap.row
				.mission__content
					.mission__title.h2 Наша миссия не в простом выполнении проектов, а развивитии и поддержке созданных решений
				.mission__quote.quote
					.quote__text.t1
						p Темная материя сжимает спиральный резонатор, поскольку любое другое поведение нарушало бы изотропность пространства. Плазменное образование квазипериодично заряжает вращательный взрыв, генерируя периодические импульсы синхротронного излучения. Жидкость, на первый взгляд, масштабирует плазменный резонатор. Плазменное образование квазипериодично
					.quote__author.q-author
						.q-author__img
							picture
								img(src="uploads/venceslav-novikov.png" alt="")
						.q-author__text
							.q-author__name Венцеслав Новиков
							.q-author__desc Технический директор КИХ-Юг

	+style('mission', 'blocks')