extends ../../templates/default
block vars
	-
		title = "КИХ"
		isMain = true

block content
	.intro.section.lines.bgw.c-white#intro(data-lines-size="lg")
		.section__inner
			.case
				.intro__content
					.intro__title.h1 #[span #[u #[i Автоматизация]] #[u #[i бизнес-процессов,]] #[u #[i разработка и]] #[u #[i внедрение]]]
					.intro__btns.row
						a.intro__button.button.--lg.--bg-blue(href="#modal-feedback" data-popup="") Обсудить проект
				.intro__scroll.scroll
					.scroll__box
					.scroll__title Скрольте #[br]вниз
		.intro__pluses.pluses
			picture
				img(src="uploads/pluses.svg" alt="")
		.intro__bgs
			.intro__bgs-wrap.swiper-container
				.intro__bgs-list.swiper-wrapper
					.intro__bgs-item.swiper-slide
						picture
							img(src="uploads/intro-1.jpg" alt="")
					.intro__bgs-item.swiper-slide
						picture
							img(src="uploads/intro-2.jpg" alt="")
					.intro__bgs-item.swiper-slide
						picture
							img(src="uploads/intro-3.jpg" alt="")
					.intro__bgs-item.swiper-slide
						picture
							img(src="uploads/intro-4.jpg" alt="")
					.intro__bgs-item.swiper-slide
						picture
							img(src="uploads/intro-5.jpg" alt="")
					.intro__bgs-item.swiper-slide
						picture
							img(src="uploads/intro-6.jpg" alt="")
		+style('intro', 'blocks')
		+script('intro', 'blocks')

	include ../../../blocks/solutions/solutions

	include ../../../blocks/philosophy/philosophy
	
	include ../../../blocks/mission/mission

	include ../../../blocks/timeline/timeline

	include ../../../blocks/certificates/certificates

	include ../../../blocks/footer/footer