extends ../../templates/default
block vars
	-
		title = ""
		breadcrumbs = [
			['Главная', 'index.html'],
			[title]
		]
block content
	.intro.section.lines.bg-green
		.case
			.intro__content
				.intro__text Программный коплекс поможет национальным паркам и заповедникам использовать новые форматы работы с посетителями
				.intro__title.h1 Заповедники России
				.intro__btns.row
					a.intro__button.button.--md.--bg-white(href="") Попробовать бесплатно
					a.intro__button.button.--md.--bg-transparent(href="" target="_blank") Купить
			.intro__icon
				picture
					img(src="upload/map.svg" alt="")

	.sidenav
		ul
			li
				a(href="#solution") Выгоды использования
			li
				a(href="#advanages") Как это работает
			li
				a(href="#how") Функциональные возможности
			li
				a(href="#reviews") Отзывы клиентов
			li
				a(href="#faq") Частые вопросы

	-
		solutionTitle = '«Заповедники России»  - программный комплекс он-лайн услуг национальных парков и заповедников представляет собой комплексное программное обеспечение, состоящее из портала для сотрудников и мобильного приложения для посетителей национальных парков и заповедников. Программный комплекс поможет национальным паркам и заповедникам использовать новые форматы работы с посетителями, перевести услуги в он-лайн формат, позволит повысить привлекательность и удобство посещения национальных парков и заповедников, популяризировать экотуризм, предоставить альтернативную возможность экопросвещения населения через мобильное приложение.'
		solutionText  = undefined
		solutionReestr = false

	include ../../../blocks/solution/solution
	+style('solution', 'blocks')

	-
		advantages = [
			['Простота использования', 'app-handus.svg'],
			['Повышение безопасности', 'location-app.svg'],
			['Новый формат взаимодействия', 'app-arrows.svg'],
			['Снижение ущерба природе', 'wood.svg'],
		]
	include ../../../blocks/advantages/advantages
	+style('advantages', 'blocks')

	-
		whom = [
			['Мобильное приложение для туриста', 'app.svg', '<ul><li>Турист через мобильное приложение подбирает маршрут для посещения, используя каталог маршрутов</li><li>Выбрав маршрут, турист может просмотреть интерактивную карту с указанием достопримечательностей и характеристик маршрута</li><li>Мобильное приложение позволяет оплатить выбранную услугу в удобной и современной форме</li><li>Турист может заранее спланировать маршрут – забронировать места отдыха, оплатить за аренду транспорта или снаряжение</li><li>При необходимости имеется возможность вернуть средства, оплаченые за неиспользованные услуги</li><li>Использование квест-туров повысит привлекательность посещения маршрутов и придаст путешествию соревновательный характер</li><li>Он-лайн формирование туристических групп</li><li>Использование NFC-меток на маршруте обеспечит учет местоположения туриста в системе</li><li>При приближении к интересным точкам маршрута приложение сообщает туристу и показывает справочную информацию или включает аудиогид</li></ul>'],
			['Личный кабинет для сотрудников', 'comp-user.svg', '<ul><li>Учет кроссплатформенных продаж в едином реестре</li><li>Расчет и управление рекреационной нагрузкой псещения</li><li>Формирование статистических отчетов</li><li>Инспектор может проверить действительность пропуска на посещение парка через личный кабинет</li></ul>']
		]
		whomText = 'Программный комплекс реализован в виде web-интерфейса (личный кабинет сотрудников) и мобильного приложения для туристов на платформах Android и IOs.'
	include ../../../blocks/whom/whom
	+style('whom', 'blocks')

	include ../../../blocks/philosophy/philosophy
	+style('philosophy', 'blocks')

	include ../../../blocks/reviews/reviews
	+style('reviews', 'blocks')

	include ../../../blocks/faq/faq
	+style('faq', 'blocks')

	include ../../../blocks/feedback/feedback
	+style('feedback', 'blocks')