extends ../../templates/default
block vars
	-
		title = ""
		breadcrumbs = [
			['Главная', 'index.html'],
			[title]
		]
block content
	.intro.section.lines.bg-violet
		.case
			.intro__content
				.intro__text Система электронного документооборота. Позволяет автоматизировать работу с документами в организации
				.intro__title.h1 Синкопа- документ
				.intro__btns.row
					a.intro__button.button.--md.--bg-white(href="") Попробовать бесплатно
					a.intro__button.button.--md.--bg-transparent(href="" target="_blank") Купить
			.intro__icon
				picture
					img(src="upload/docs.svg" alt="")

	.sidenav
		ul
			li
				a(href="#solution") Выгоды использования
			li
				a(href="#advanages") Как это работает
			li
				a(href="#how") Функциональные возможности
			li
				a(href="#reviews") Отзывы клиентов
			li
				a(href="#faq") Частые вопросы

	-
		solutionTitle = 'СЭД «СИНКОПА-ДОКУМЕНТ» - это готовое решение дляавтоматизации процессов делопроизводства, систематизации работы с документами с возможностью архивного хранения, контроля исполнительской дисциплины'
		solutionText  = undefined
		solutionReestr = true
		
	include ../../../blocks/solution/solution
	+style('solution', 'blocks')

	-
		advantages = [
			['Экономьте <br>время', 'clock.svg'],
			['Создавайте удобства', 'comp-like.svg'],
			['Сокращайте количество <br>бумаги', 'docs-copy.svg'],
			['Контролируйте', 'equalizer.svg'],
		]
	include ../../../blocks/advantages/advantages
	+style('advantages', 'blocks')

	-
		whom = [
			['Регистрация документа', 'docs-copy.svg', '<ul><li>Входящие документы заносятся в систему путем сканирования, автоматически из электронной почты или из других систем</li><li>Регистрация выполняется за пару кликов за счет использования справочников и шаблонов</li><li>Образы документов, отсканированные поточным методом автоматически распределяются и прикрепляются к карточкам документов по штрих-коду</li><li>Регистрационный номер вычисляется и присваивается документу автоматически в соответствии с правилами организации</li><li>Исходящие документы формируются по заготовленным шаблонам и, при необходимости, на бланке организации</li></ul>'],
			['Рассмотрение документа', 'docs-glasses.svg', '<ul><li>Руководитель может выдавать поручения в системе, в том числе, голосом или используя шаблоны</li><li>Помощник руководителя создает проекты резолюций, а руководитель их утверждает и подписывает простой ЭП</li><li>Используя мобильное приложение руководитель имеет возможность оперативно работать с документами, находясь в командировке</li></ul>'],
			['Выдача поручений и контроль исполнения', 'calendar.svg', '<ul><li>Механизм выдачи поручений позволяет выдавать задания в полуавтоматическом режиме, с использованием шаблонов</li><li>Информация об исполнителях, сроках, статусе и результатах исполнения всегда под рукой</li><li>Контроль становится доступным и наглядным благодаря встроенным виджетам и отчетам</li><li>Исполнительность сотрудников растет за счет системы уведомлений и напоминаний</li></ul>'],
			['Ознакомление, подготовка ответа, согласование, подписание', 'docs-signature.svg', '<ul><li>Документы на ознакомление передаются в электронном виде, факт ознакомления автоматически фиксируется в системе</li><li>Подготовка ответа выполняется в пару кликов, с возможностью выбрать шаблон</li><li>Документы перемещаются в системе по заранее подгтовленным маршрутам согласования и подписания</li><li>Нажатием одной кнопки сотрудник отправляет документ на согласование и продолжает исполнять свои основные функциональные обязанности</li><li>Для обеспечения юридической значимости документы подписываются электронной подписью</li></ul>'],
			['Отправка контрагенту, хранение в архиве', 'envelope.svg', '<ul><li>Отправка документов адресату выполняется непосредственно из СЭД, минуя почтовые сервисы</li><li>Для отправки документа на бумаге есть возможность распечатать конверт с реквизитами контрагента</li><li>Система обеспечивает долговременное надежное хранение документов в архиве</li><li>Благодаря связям документов можно получить доступ к полному комплекту</li><li>Поиск документов в системе выполняется по штрих-коду с помощью сканера штрих-кодов</li><li>Специальные сервисы гарантируют защиту имеющейся информации от потерь и несанкционированного доступа</li></ul>']
		]
	include ../../../blocks/whom/whom
	+style('whom', 'blocks')

	include ../../../blocks/philosophy/philosophy
	+style('philosophy', 'blocks')

	include ../../../blocks/reviews/reviews
	+style('reviews', 'blocks')

	include ../../../blocks/faq/faq
	+style('faq', 'blocks')

	include ../../../blocks/feedback/feedback
	+style('feedback', 'blocks')