include ../../pug/vars


.doc.lines.section.lines.bg-blue.c-white#doc-1
	.section__inner
		.case
			.doc__wrap.row
				.doc__content
					.doc__title.h2.--light Интерпретация всех изложенных ниже наблюдений предполагает, что еще до начала измерений вихрь устойчив в магнитном поле
					.doc__texts.grid
						.doc__text
							h5 Результаты
							p В условиях электромагнитных помех, неизбежных при полевых измерениях, не всегда можно опредлить, когда именно поток синфазно возбуждает изотопный экситон.
						.doc__text
							h5
							p Неоднородность искажает межатомный объект. Туманность инструментально обнаружима. Квант индуцирует взрыв

				.doc__icon
					picture
						img(src="uploads/docs-pack.svg" alt="")

.doc.lines.section.lines.--reverse.bg-gray.c-white#doc-2
	.section__inner
		.case
			.doc__wrap.row
				.doc__content
					.doc__title.h2.--light Интерпретация всех изложенных ниже наблюдений предполагает, что еще до начала измерений вихрь устойчив в магнитном поле
					.doc__texts.grid
						.doc__text
							h5 Результаты
							p В условиях электромагнитных помех, неизбежных при полевых измерениях, не всегда можно опредлить, когда именно поток синфазно возбуждает изотопный экситон.
						.doc__text
							h5
							p Неоднородность искажает межатомный объект. Туманность инструментально обнаружима. Квант индуцирует взрыв

				.doc__icon
					picture
						img(src="uploads/docs-pack.svg" alt="")
	+style('doc', 'blocks')