extends ../../templates/default
block vars
	-
		title = ""
		breadcrumbs = [
			['Главная', 'index.html'],
			[title]
		]
block content
	.intro.section.lines.bg-red
		.case
			.intro__content
				.intro__text Решение является одним из важнейших инструментов создания эффективной системы управления городским хозяйством.
				.intro__title.h1 Активный гражданин
				.intro__btns.row
					a.intro__button.button.--md.--bg-white(href="") Попробовать бесплатно
					a.intro__button.button.--md.--bg-transparent(href="" target="_blank") Купить
			.intro__icon
				picture
					img(src="upload/app-hand.svg" alt="")

	.sidenav
		ul
			li
				a(href="#solution") Выгоды использования
			li
				a(href="#advanages") Как это работает
			li
				a(href="#how") Функциональные возможности
			li
				a(href="#reviews") Отзывы клиентов
			li
				a(href="#faq") Частые вопросы

	-
		solutionTitle = 'СЭД «СИНКОПА-ДОКУМЕНТ» - это готовое решение дляавтоматизации процессов делопроизводства, систематизации работы с документами с возможностью архивного хранения, контроля исполнительской дисциплины'
		solutionText  = undefined
		solutionReestr = true
	include ../../../blocks/solution/solution
	+style('solution', 'blocks')

	-
		advantages = [
			['Взаимодействие', 'group-chat.svg'],
			['Автоматизация', 'comp-user-chat.svg'],
			['Экономия', 'stats-down.svg'],
			['Контроль', 'equalizer.svg'],
		]
	include ../../../blocks/advantages/advantages
	+style('advantages', 'blocks')

	-
		whom = [
			['Сообщения о благоустройстве города', 'chats.svg', '<ul><li>Просмотреть сообщения других пользователей и действия, предпринятые по ним исполнительными органами можно и на портале и через мобильный телефон</li><li>Система определяет местоположение и выводит сообщения в соответствии с геопозицей гражданина, с возможностью фильтрации и просмотра всех сообщений</li><li>Отправить сообщение можно в два клика через web-портал или мобильное приложение</li><li>Все сообщения просматриваются модератором, затем публикуются и отправляются на рассмотрение исполнителю или отклоняются с комментариями</li><li>Администрация публикует ответ на сообщение, с прикреплением фотографий и документов</li><li>Отправитель сообщения может прокомментировать и оценить выполненную работу</li></ul>'],
			['Инициативы', 'chat-user.svg', '<ul><li>Жителям предоставляеся возможность подать инициативу по улусшению городской среды</li><li>Органы власти проводят голосование за инициативы среди жителей и отбирают лучшие практики</li></ul>'],
			['Голосование', 'chats-like.svg', '<ul><li>Удобная форма создания опросов и голосований для администратора</li><li>В голосовании принимают участие только пользователи, прошедшие авторизацию через портал госуслуг</li><li>Подсчет голосов выполняется в режиме он-лайн автоматически</li><li>Оперативное принятие решение становится доступным, а контроль «наболевших» тем  наглядным, благодаря встроенным виджетам и отчетам</li></ul>']
		]
		whomText = 'Программный комплекс реализован в виде web-интерфейса и мобильного приложения для платформ Android, IOs.'
	include ../../../blocks/whom/whom
	+style('whom', 'blocks')

	include ../../../blocks/philosophy/philosophy
	+style('philosophy', 'blocks')

	include ../../../blocks/reviews/reviews
	+style('reviews', 'blocks')

	include ../../../blocks/faq/faq
	+style('faq', 'blocks')

	include ../../../blocks/feedback/feedback
	+style('feedback', 'blocks')