include ../../pug/vars

.faq.nav-item#faq
	.case
		.faq__title.h3 Частые вопросы
		.faq__list
			.faq__item.f-item.tog
				.f-item__head.tog-head
					.f-item__name Зависит ли стоимость программного продукта от количества автоматизируемых рабочих мест?
					.f-item__icon
				.f-item__body.tog-body
					.f-item__text Существует несколько вариантов реализации системы: это может быть как вариант размещения на сервере Вашей организации, так и вариант размещения системы в облачном сервисе. Рекомендуемые технические характеристики сервера: процессор Intel Xeon E3-1220 v6, оперативная память от 8 GB DDR4, жесткие диски от 2х500GB. Операционная система Linux или AstraLinux. #[br]Для работы клиентской части необходим любой браузер или мобильное приложение.
			
			.faq__item.f-item.tog
				.f-item__head.tog-head
					.f-item__name Как происходит процесс внедрения системы?
					.f-item__icon
				.f-item__body.tog-body
					.f-item__text Существует несколько вариантов реализации системы: это может быть как вариант размещения на сервере Вашей организации, так и вариант размещения системы в облачном сервисе. Рекомендуемые технические характеристики сервера: процессор Intel Xeon E3-1220 v6, оперативная память от 8 GB DDR4, жесткие диски от 2х500GB. Операционная система Linux или AstraLinux. #[br]Для работы клиентской части необходим любой браузер или мобильное приложение.
			
			.faq__item.f-item.tog
				.f-item__head.tog-head
					.f-item__name Требуется ли приобретение квалифицированной ЭП для всех сотрудников нашей организации, если мы будем использовать СЭД?
					.f-item__icon
				.f-item__body.tog-body
					.f-item__text Существует несколько вариантов реализации системы: это может быть как вариант размещения на сервере Вашей организации, так и вариант размещения системы в облачном сервисе. Рекомендуемые технические характеристики сервера: процессор Intel Xeon E3-1220 v6, оперативная память от 8 GB DDR4, жесткие диски от 2х500GB. Операционная система Linux или AstraLinux. #[br]Для работы клиентской части необходим любой браузер или мобильное приложение.
			
			.faq__item.f-item.tog
				.f-item__head.tog-head
					.f-item__name Мы планируем купить СЭД, означает ли это необходимость в дальнейшем ежегодно оплачивать стоимость лицензии или технической поддержки?
					.f-item__icon
				.f-item__body.tog-body
					.f-item__text Существует несколько вариантов реализации системы: это может быть как вариант размещения на сервере Вашей организации, так и вариант размещения системы в облачном сервисе. Рекомендуемые технические характеристики сервера: процессор Intel Xeon E3-1220 v6, оперативная память от 8 GB DDR4, жесткие диски от 2х500GB. Операционная система Linux или AstraLinux. #[br]Для работы клиентской части необходим любой браузер или мобильное приложение.
			
			.faq__item.f-item.tog
				.f-item__head.tog-head
					.f-item__name Какое оборудование необходимо для установки системы в нашей организации?
					.f-item__icon
				.f-item__body.tog-body
					.f-item__text Существует несколько вариантов реализации системы: это может быть как вариант размещения на сервере Вашей организации, так и вариант размещения системы в облачном сервисе. Рекомендуемые технические характеристики сервера: процессор Intel Xeon E3-1220 v6, оперативная память от 8 GB DDR4, жесткие диски от 2х500GB. Операционная система Linux или AstraLinux. #[br]Для работы клиентской части необходим любой браузер или мобильное приложение.
			
			.faq__item.f-item.tog
				.f-item__head.tog-head
					.f-item__name Мы планируем купить СЭД, означает ли это необходимость в дальнейшем ежегодно оплачивать стоимость лицензии или технической поддержки?
					.f-item__icon
				.f-item__body.tog-body
					.f-item__text Существует несколько вариантов реализации системы: это может быть как вариант размещения на сервере Вашей организации, так и вариант размещения системы в облачном сервисе. Рекомендуемые технические характеристики сервера: процессор Intel Xeon E3-1220 v6, оперативная память от 8 GB DDR4, жесткие диски от 2х500GB. Операционная система Linux или AstraLinux. #[br]Для работы клиентской части необходим любой браузер или мобильное приложение.
	+style('faq', 'blocks')