extends ../../templates/default
block vars
	-
		title = "Опыт внедрений"
		breadcrumbs = [
			['Главная', 'index.html'],
			[title]
		]
block content
	.intro.section.lines.bgw.bg-blue.c-white#intro
		.section__inner
			.case
				.intro__content.--pl
					.intro__title.h1 #[span #[u #[i Опыт внедрений]]]
					.intro__btns.row
						a.intro__button.button.--lg.--bg-blue(href="#modal-discuss" data-popup="") Обсудить проект
				.intro__scroll.scroll
					.scroll__box
					.scroll__title Скрольте #[br]вниз
		.intro__pluses.pluses
			picture
				img(src="uploads/pluses.svg" alt="")
		.intro__bg.bg
			picture
				img(src="uploads/integrating.jpg" alt="")

		+style('intro', 'blocks')

	include ../../../blocks/doc/doc
	
	include ../../../blocks/partners/partners

	include ../../../blocks/footer/footer
	