include ../../pug/vars

.solus
	.case
		.solus__text Кварк, как бы это ни казалось парадоксальным, полупрозрачен для жесткого излучения. Вещество, даже при наличии сильных аттракторов, стохастично восстанавливает вращательный резонатор
		.solus__list
			.solus__item.bg-violet
				.solus__name.h2 Система электронного документооборота
				.solus__icon
					picture
						img(src="upload/docs.svg" alt="")

			.solus__item.bg-green-l
				.solus__name.h2 Транспорт
				.solus__icon
					picture
						img(src="upload/map.svg" alt="")

			.solus__item.bg-yellow
				.solus__name.h2 Такси
				.solus__icon
					picture
						img(src="upload/taxi.svg" alt="")

			.solus__item.bg-red
				.solus__name.h2 Активный гражданин
				.solus__icon
					picture
						img(src="upload/app-hand.svg" alt="")

			.solus__item.bg-blue-l
				.solus__name.h2 ГБО
				.solus__icon
					picture
						img(src="upload/docs.svg" alt="")

			.solus__item.bg-green
				.solus__name.h2 Заповедник
				.solus__icon
					picture
						img(src="upload/map.svg" alt="")
