include ../../pug/vars

.solus.section.overflow-y#solus
	.section__inner
		.case
			.solus__inner
				.solus__text.h2.--light Кварк, как бы это ни казалось парадоксальным, полупрозрачен для жесткого излучения. Вещество, даже при наличии сильных аттракторов, стохастично восстанавливает вращательный резонатор
				.solus__list
					a.solus__item.bg-violet.--sed(href="sed.html")
						.solus__name Система электронного документооборота
						.solus__icon
							picture
								img(src="uploads/docs.svg" alt="")

					a.solus__item.bg-green-l.--transport(href="transport.html")
						.solus__name Транспорт
						.solus__icon
							picture
								img(src="uploads/map.svg" alt="")

					a.solus__item.bg-yellow.--taxi(href="taxi.html")
						.solus__name Такси
						.solus__icon
							picture
								img(src="uploads/taxi.svg" alt="")

					a.solus__item.bg-red.--citizen(href="citizen.html")
						.solus__name Активный гражданин
						.solus__icon
							picture
								img(src="uploads/app-hand.svg" alt="")

					a.solus__item.bg-blue-l.--gbo(href="gbo.html")
						.solus__name ГБО
						.solus__icon
							picture
								img(src="uploads/docs.svg" alt="")

					a.solus__item.bg-green.--monitorig(href="monitoring.html")
						.solus__name Заповедник
						.solus__icon
							picture
								img(src="uploads/map.svg" alt="")
		+style('solus', 'blocks')