include ../../pug/vars

.partners.section#partners
	.section__inner
		.case
			.partners__inner
				.partners__pluses.pluses
					picture
						img(src="uploads/pluses-gray.svg" alt="")
				.partners__title.h3 Наши партнеры
				.partners__list.grid
					.partners__item
						.partners__logo
							picture
								img(src="uploads/admin-kransodar.jpg" alt="")
						.partners__name Администрация муниципальных образования Краснодарского края

					.partners__item
						.partners__logo
							picture
								img(src="uploads/admin-sochi.jpg" alt="")
						.partners__name Администрация города-курорта Сочи

					.partners__item
						.partners__logo
							picture
								img(src="uploads/sobranie-krasnodar.jpg" alt="")
						.partners__name Законодательное собрание Краснодарского края

					.partners__item
						.partners__logo
							picture
								img(src="uploads/kzd.jpg" alt="")
						.partners__name Крымская железная дорога

					.partners__item
						.partners__logo
							picture
								img(src="uploads/mintrans-krasnodar.png" alt="")
						.partners__name Министерство транспорта и дорожного хозяйства Краснодарского края

					.partners__item
						.partners__logo
							picture
								img(src="uploads/orealtranssignal.jpg" alt="")
						.partners__name ОрелТрансСигнал

					.partners__item
						.partners__logo
							picture
								img(src="uploads/rostelecom.png" alt="")
						.partners__name ПАО «Ростелеком»

					.partners__item
						.partners__logo
							picture
								img(src="uploads/transdirect.png" alt="")
						.partners__name Транспортная дирекция

					.partners__item
						.partners__logo
							picture
								img(src="uploads/kavkaz-zapodednik.png" alt="")
						.partners__name Кавказский заповедник

	+style('partners', 'blocks')