.button {
  z-index: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  overflow: hidden;
  border: none;
  background-color: transparent;
  transition: 0.3s;
  outline: none;
  border-bottom: none;
}
.button:after {
  content: "";
  position: absolute;
  height: 2px;
  left: 0;
  transition: 0.3s;
}
.button.--bg-blue {
  color: #fff;
  background-color: #1E468A;
}
.button.--bg-blue:after {
  background-color: #fff;
}
.button.--bg-blue:hover {
  background-color: #153160;
}
.button.--b-white {
  color: #fff;
  border: 1px solid #fff;
}
.button.--b-white:after {
  background-color: #fff;
}
.button.--b-white:hover {
  color: #1E468A;
  background-color: #fff;
}
.button.--b-white:hover:after {
  background-color: #1E468A;
}
.button.--b-blue {
  color: #1E468A;
  border: 1px solid #1E468A;
}
.button.--b-blue:after {
  background-color: #1E468A;
}
.button.--b-blue:hover {
  color: #fff;
  background-color: #1E468A;
}
.button.--b-blue:hover:after {
  background-color: #fff;
}
.button.--bg-transparent {
  background-color: transparent;
}
.button.--bg-white {
  color: #1E468A;
  background-color: #fff;
  border: 1px solid #fff;
}
.button.--bg-white:after {
  background-color: #1E468A;
}
.button.--bg-white:hover {
  color: #fff;
  background-color: transparent;
}
.button.--bg-white:hover:after {
  background-color: #fff;
}
.button.--b-gray {
  border: 1px solid #eee;
  border-radius: 5px;
}
.button.--xs {
  font-size: 12px;
  min-height: 36px;
}
.button.--sm {
  font-size: 14px;
  min-height: 40px;
}
.button.--md {
  font-size: 12px;
  font-weight: 700;
  min-height: 60px;
  padding: 0 32px;
  text-transform: uppercase;
}
.button.--md:after {
  left: 16px;
  right: 16px;
  bottom: 10px;
}
.button.--lg {
  font-size: 16px;
  font-weight: 500;
  min-height: 80px;
  padding: 0 40px;
}
.button.--lg:after {
  left: 16px;
  right: 16px;
  bottom: 8px;
}

@media screen and (max-width: 1023px) {
  .button.--lg, .button.--md {
    font-size: 12px;
    min-height: 56px;
  }
  .button.--lg:after, .button.--md:after {
    bottom: 6px;
  }
}
@media screen and (max-width: 420px) {
  .button.--lg, .button.--md {
    padding-left: 10px;
    padding-right: 10px;
  }
}