@import fonts
@import vars
@import reset
@import grid

@import ../components/button/button
@import ../components/field/field
@import ../components/check/check
@import ../components/select/select
@import ../components/popup/popup
// @import ../components/tabs/tabs
// @import ../components/popup/popup
// @import ../components/slider/slider
// @import ../components/tog/tog

@import typography

.overflow-disable
	overflow: hidden

.bgw
	z-index: 1
	position: relative

.bg
	z-index: -100
	position: fixed
	top: 0
	left: 0
	right: 0
	bottom: 0
	picture, img
		width: 100%
		height: 100%
		object-fit: cover
		transition: 15s

	&-blue
		color: #fff
		background-color: $blue

.wrap
	max-width: 1920px
	overflow-x: hidden
	margin-left: auto
	margin-right: auto
.header
	z-index: 100
	position: fixed
	top: 0
	left: 0
	right: 0
	transition: $t
	&.--scrolled
		background-color: #fff
		.header
			&__logo
				path
					&[fill*="white"]
						fill: rgb(30, 70, 138)
			&__phone
				a
					color: $blue
			&__btn-consult
				color: $black
				&:hover
					color: $blue
				
		.nav
			&__item
				color: $black
				&:hover
					opacity: .6

				
	&__wrap
		align-items: center
		height: 80px
		border-bottom: 1px solid rgba(255,255,255,.3)
	&__logo
		border-bottom: none
		margin-right: 125px
	&__nav
		margin-right: auto
	&__phone
		font-size: 13px
		line-height: 16px
		font-weight: 700
		margin-right: 32px
		a
			color: #fff
	&__btn-consult
		font-size: 13px
		line-height: 16px
		font-weight: 500
		letter-spacing: 0.03em
		color: rgba(255,255,255,.6)
		text-transform: uppercase
		&:hover
			color: #fff
		

.nav
	&__list
		margin-left: -16px
		margin-right: -16px
	&__item
		color: #fff
		font-size: 13px
		line-height: 16px
		font-weight: 500
		letter-spacing: 0.03em
		margin-left: 16px
		margin-right: 16px
		text-transform: uppercase
		&:hover
			opacity: 0.5

.section
	// height: 100%
	&__inner
		z-index: 1
		position: relative
		display: flex
		flex-wrap: wrap
		align-items: flex-end
		height: 100%
	&.--current
		.bg
			img
				transform: scale(1.3)

.intro
	color: #fff
	.case
		padding-bottom: 120px
		// opacity: 0
	&__content
		width: 100%
		max-width: 960px
	&__btns
		margin-top: 64px
	&__scroll
		position: absolute
		right: 115px
		bottom: 120px
	&__pluses
		position: absolute
		top: 155px
		right: 50%
		width: 609px
		margin-right: -725px
	&__bg
		// opacity: 0
		
		

.scroll
	display: flex
	align-items: center
	&__box
		z-index: 1
		position: relative
		width: 23px
		height: 40px
		border: 2px solid #fff
		border-radius: 50px
		&:before
			content: ''
			opacity: 0.5
			position: absolute
			top: 8px
			left: 50%
			width: 5px
			height: 18px
			margin-left: -2.5px
			border-radius: 50px
			background-color: #fff
		&:after
			content: ''
			position: absolute
			top: 8px
			left: 50%
			width: 9px
			height: 9px
			margin-left: -4.5px
			background-color: #fff
			border-radius: 50%
			animation: 2s scroll infinite
	&__title
		font-size: 13px
		line-height: 13px
		font-weight: 500
		padding-left: 16px
		padding-bottom: 4px
@keyframes scroll
	0%
		top: 8px
	70%
		top: 16px
	100%
		top: 8px

.lines
	position: relative
	z-index: 1
	overflow: hidden

